.card {
  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: $font-secondary;
  }
  &-text {
    color: #656565;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 24px;
  }

  &__wrapper {
    background-color: $bg-gray-100;
    &:hover {
      background-color: $bg-gray-200;
    }

    .card__img {
      height: 137px;
    }
  }
  &__name {
    font-size: 15px;
    line-height: 19px;
    font-family: $font-secondary;
  }
  &__price {
    font-size: 20px;
    line-height: 23px;
    color: $color-gray-300;
    &--sm {
      font-size: 13px;
    }
    &--md {
      font-size: 15px;
      color: $color-gray-400;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 14px;
    color: $color-gray-300;
    font-family: $font-secondary;
  }

  &--sm {
    font-family: $font-secondary;
    .card {
      &:after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        background-color: $bg-gray-500;
        margin: auto;
        @media (min-width: 576px) {
          width: 2px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    &:last-child {
      .card {
        &::after {
          display: none;
        }
      }
    }
    .card__name {
      font-size: 13px;
      line-height: 16px;
      color: $color-gray-400;
      font-family: $font-secondary;
    }
    .card-text {
      line-height: 17px;
    }
  }
}
