.footer {
  &__top {
    background-color: $bg-gray-400;
  }
  &__bottom {
    background-color: $color-dark;
  }
  &__text {
    font-size: 13px;
    &--link {
      color: $color-blue-ligth;
    }
  }
}
