.breadcrumb {
  &--bg-ligth {
    background-color: $bg-gray-300;
    .breadcrumb__link {
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 16px;
      color: #797979;
      font-weight: 400;
      font-family: "Roboto";
    }
  }
  &__link {
    color: #1f97ac;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-family: "Roboto";
  }
}
