$color-primary: #dc2224;
$color-black: #000000;
$color-dark: #212121;
$color-blue-ligth: #1f97ae;
$color-link: #0f8fa5;
$color-gray: #656565;
$color-gray-300: #333333;
$color-gray-400: #666666;
$color-gray-500: #4c4c4c;

/* Backgorunds colors */
$bg-blue-dark: #003a79;
$bg-yellow: #ffbe00;
$bg-orange: #e40606;
$bg-orange-100: #ff831e;
$bg-ligth: #f5f5f5;
$bg-gray-100: #f9f9f9;
$bg-gray-200: #e8e8e8;
$bg-gray-300: #cacaca;
$bg-gray-400: #dddddd;
$bg-gray-500: #eeeeee;

$bg-btn-primary: #da262d;

$bg-btn-md: #0096a7;
