.section {
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-family: $font-secondary;
    @media (min-width: 576px) {
      font-size: 32px;
      line-height: 49px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 19px;
    color: $color-link;
    font-family: $font-secondary;
    &:hover {
      color: $color-link;
    }
    &:after {
      content: "";
      width: 8px;
      height: 8px;
      background-image: url("../img/linea.png");
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 5px;
    }
  }
  &--bg-ligth {
    background-color: $bg-ligth;
  }
  &__border {
    border-top: 2px solid $bg-gray-500;
  }
}
