.nav {
  &__wrapper {
    background-color: $color-dark;
    .nav-item {
      &:nth-child(3) {
        margin-right: 20px;
      }
    }
    .nav-link {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-link {
    letter-spacing: 0px;
    font-weight: 500;
    font-family: $font-primary;
  }
  &__user-icon {
    background-color: $color-blue-ligth;
  }

  &__icon,
  &__user-img {
    width: 20px;
  }
  &__notifications {
    width: 25px;
    height: 25px;
    color: $color-blue-ligth;
  }
  &__search {
    max-width: 376px;
    height: 30px;
    border-radius: 5px;
    &-btn {
      background-color: $color-blue-ligth;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #fff;
    }
    &-img {
      width: 15px;
    }
  }
}
